body{
  padding:0;
  margin:0;
  background-color:#ddd;
  font-family:sans-serif;
}

/*css for header.html*/
#head{
  background-color: orange;
  width:100%;
  height: 38px;
}

#head .navlink{
  color:black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
}

#head .navlink:hover{
  color:black;
  background-color: rgba(0,0,0,.1);
}

#head .userlink{
  text-transform: none;
}

#head #logo{
  display: block;
  margin:0 auto;
  width:214px;
  font-size: 20pt;
}

/*css for index.html*/
#content{
  width:600px;
  margin:0 auto;
  padding:10px;
}

#blogs #tag-cloud{
  margin: 0 auto;
  width:275px;
}

/*reusable sitewide classes*/
ul {
  list-style: none;
}

li { 
  text-indent: -10px;
}

li:before {
    content: "• ";
    color: white; /* or whatever color you prefer */
}

.warning{
  text-align: center;
}

.orange{
  color:darkorange;
}

.big{
  font-size: 18pt;
  font-weight: bold;
}

.icon{
  width:20px;
  line-height: 1em;
  vertical-align: middle;
  margin: 0 0 4px 20px;
}

.small-margin{
  margin-bottom: 5px;
}

.small-margin-both{
  margin: 5px 0;
}

.subtext{
  font-size:8pt;
}
.author-banner{
  width:350px;
  text-align: center;
  font-size:10pt;
  display: block;
  margin:0 auto 5px auto;
}

.blog-name{
  text-decoration: none;
  color: black;
}

.blog-name:hover{
  color:darkorange;
}

.warning .message{
  margin: 5px;
}

.npages{
  float:left;
}

.opages{
  float:right;
}

.npages, .opages{
  color: white;
  text-decoration: none;
  text-transform: lowercase;
}

.npages:hover, .opages:hover{
  color: white;
  text-decoration: underline;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}

span.warning{
  width: 100%;
  display:inline-block;
}

#new-blog{
  background-color:#888;
  padding:10px;
  margin-bottom:10px;
}

#new-blog .warning, #blogs .warning{
  margin: 0 0 10px 0;
}

#new-blog form{
  width: 334px;
  margin:0 auto;
}

#new-blog input[type=text]{
  border:none;
  width:260px;
  height:20px;
  padding:0;
}

#new-blog input[type=submit]{
  border:none;
  width:70px;
  height:20px;
  margin:0;
  background-color: lightgreen;
}

#blogs{
  padding-top:10px;
  background-color:#888;
}

#blogs #mine{
  padding:10px;
  width: 275px;
  margin-right: 10px;
  float:left;
}

#blogs #others{
  padding:10px;
  width: 275px;
  float:left;
}

.blog-link{
  color:darkorange;
  text-decoration: none;
}

.blog-link:hover{
  color:darkorange;
  text-decoration: underline;
}

/*css for blog.html*/
#new-article{
  background-color:#888;
  padding:10px;
  margin-bottom:10px;
}

#new-article .warning, #blogs .warning{
  margin: 0 0 10px 0;
}

#new-article form{
  width: 334px;
  margin:0 auto;
}

#new-article input[type=text]{
  border:none;
  width:260px;
  height:20px;
  padding:0;
}

#new-article input[type=text]#title{
  width:334px;
}

#new-article textarea{
  border:none;
  width:330px;
  height:150px;
  margin:0;
  resize:none;
}

#new-article input[type=submit]{
  border:none;
  width:70px;
  height:20px;
  margin:0;
  background-color: lightgreen;
}

#new-article input[type=text].smaller-width{
  border:none;
  width:186px;
  height:20px;
  padding:0;
}

.cancel{
  border:none;
  width:70px;
  height:20px;
  margin:0;
  background-color: red;
}

#articles{
  padding:10px;
  background-color:#888;
}

#articles a{
  color:white;
  text-decoration: none;
  text-transform: lowercase;
}

#articles a:hover{
  color:white;
  text-decoration: underline;
  text-transform: lowercase;
}

#articles .no-lower{
  text-transform: none;
}

#articles .no-lower:hover{
  text-transform: none;
}

#articles img{
  width:200px;
}

/*css for image.html*/
.uploaded-image{
  background-color: #888;
  margin: 10px 0;
  padding: 10px;
}

.thumb{
  width:200px;
  display: block;
  float: left;
}

.image-info{
  float:right;
  width: 370px;
}

.image-info a {
  color:orange;
}