{% include "/templates/header.html" %}
{% autoescape true %}
  <div id="content">
    <span class="warning">
      <span class="big">{{article.title}}</span>
      <span class="">from blog:</span>
      <span class="big">{{blog.name}}</span>
    </span>
    <span class="author-banner">{{blog.author_name}}</span> 
    
    <div id="articles">
      <span class="subtext">{{article.date.strftime('%H:%m on %m-%d-%Y')}}</span>
        <br/>
        <br/>
        {{article.content}}
      <br/>
      <br/>
      <hr/>
    Tags:
    {% for tag in article.tags %}
      {% if tag %}
        <a href="/tag/{{tag}}">{{tag}}</a> 
        {% if loop.index < article.tags|length %}
          | <!--tag separators-->
        {% endif %}
      {% else %}
        <span class="orange">No Tags Associated With This Article</span>
      {% endif %}
    {% endfor %}
    </div>
  </div>
{% endautoescape %}
{% include "/templates/footer.html" %}