<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>weblog</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <a href="/">main</a>
    <a href="{{login_url}}">{{login_message}}</a>
    <br/>
    {% if user_name %}
      you are- {{user_name}}
    {% endif %}
    <br/>
    <br/>
    <a href="/blog/{{article.blog_name}}"/>{{article.blog_name}}</a>
    <br/>
    {{article.title}}
    <hr/>
    {{article.content}}
    <br/>tags
    {% for tag in article.tags %}
      <a href="/tag/{{tag}}">{{tag}}</a> 
      {% if loop.index < article.tags|length %}
        | <!--tag separators-->
      {% endif %}
    {% endfor %}
  </body>
</html>
{% endautoescape %}