{% include "/templates/header.html" %}
{% autoescape true %}
    <div id="content">
      <h2 class="warning small-margin">{{blog_name}}</h2>
      <span class="author-banner">{{blog.author_name}}<a href="/rss/{{blog_name}}"><img class="icon" src="/static/rss-icon.png"/></a></span>

    
      {% if blog.author == user_id %}
        <div id="new-article">
          <form action="/blog/{{blog_name}}/addarticle" method="post">
            <input type="hidden" value="{{blog_name}}" name="blog_name">
            <input type="hidden" value="{{user_name}}" name="author">
            <h3 class="warning">Write a New Article?</h3>
            <span class="warning">Title Your Article</span>
            <input type="text" name="title" id="title"/>
            <br/>
            <br/>
            <span class="warning">Add Some Content</span>
            <span class="warning subtext">For images, go to <a class="blog-name" href="/images">UPLOADS</a> and upload an image, copy its permalink and paste it into the body of your article!</span>
            <textarea name="content"></textarea>
            <br/>
            <br/>
            <span class="warning">Enter Some Comma-Separated Tags</span>
            <input type="text" name="tags" />
            <input type="submit" value="Write!">
          </form>
        </div>
      {% endif %}
    <div id="articles">
      {% if page_number > 1 %}
        <a class="npages" href="?page={{page_number - 1}}">view newer posts</a>
      {% endif %}
      {% if more_articles %}
        <a class="opages" href="?page={{page_number + 1}}">view older posts</a>
      {% endif %}
      <br/>
      <hr/>
      {% for article in articles %}
        <span class="subtext">{{article.date.strftime('%H:%m on %m-%d-%Y')}}</span>
        <h3 class="small-margin">{{article.title}}</h3>
          {{article.abbreviated_content|safe}}
        <br/>
        <a class="float-right" href="/blog/{{blog.name}}/article/{{article.title}}">View Full Article</a>
        <br/>
        <hr/>
      {% endfor %}
    </div>
  </div>
{% endautoescape %}
{% include "/templates/footer.html" %}