{% include "/templates/header.html" %}
{% autoescape true %}
    <div id="content">
    {% if user_name %}
      <div id="new-blog">
        <h3 class="warning">Create a New Blog?</h3>
        <form action="/addblog" method="post">
          <span class="warning">Title Your Blog</span>
          <input type="text" name="blog_name" />
          <input type="submit" value="Create!">
        </form>
      </div>
      <div id="blogs">
        <h2 class="warning">Discover!</h3>
        <div id="mine">
          <h3 class="warning">Your Blogs</h3>
      {% if not blogs %}
        You haven't written a blog yet!<br/>
      {% else %}

        {% if blogs_page_number > 1 %}
          <a class="npages" href="?bpage={{blogs_page_number - 1}}&opage={{other_blogs_page_number}}">view newer</a>
        {% endif %}
        {% if blogs_more_blogs %}
          <a class="opages" href="?bpage={{blogs_page_number + 1}}&opage={{other_blogs_page_number}}">view older</a>
        {% endif %}
        <br/>
        <ul>
        {% for blog in blogs %}
          <li><a class="blog-link"  href="/blog/{{blog.name}}">{{blog.name}}</a></li>
        {% endfor %}
        </ul>

      {% endif %}
      </div>
      <div id="others">
        <h3 class="warning">Other Blogs</h3>
      {% if not other_blogs %}
        No one else has written a blog yet!<br/>
      {% else %}
        {% if other_blogs_page_number > 1 %}
          <a class="npages"  href="?bpage={{blogs_page_number}}&opage={{other_blogs_page_number - 1}}">view newer</a>
        {% endif %}
        {% if other_blogs_more_blogs %}
          <a class="opages"  href="?bpage={{blogs_page_number}}&opage={{other_blogs_page_number + 1}}">view older</a>
        {% endif %}
        <br/>
        <ul>
        {% for other_blog in other_blogs %}
          <li><a class="blog-link"  href="/blog/{{other_blog.name}}">{{other_blog.name}}</a></li>
        {% endfor %}
        </ul>

      {% endif %}
      </div>
      <div style="clear:both"></div>
    </div>
    {% else %}
      <div class="warning">
        <h1 class="message orange">Sorry!</h2>
        <h2 class="message">weblog is a members-only service</h2> 
        <span class="subtext">In order to use all the features of weblog-ost please login.</span>
      </div>
    {% endif %}
    </div>
{% endautoescape %}
{% include "/templates/footer.html" %}