<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>weblog</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <a href="/">main</a>
    <a href="{{login_url}}">{{login_message}}</a>
    <br/>
    <br/>
    {% if user_name %}
      you are- {{user_name}}
      <br/>
      <form action="/addblog" method="post">
        <div>
          name your new blog?<input type="text" name="blog_name" />
        </div>
        <div>
          <input type="submit" value="new blog">
        </div>
      </form>
      <br/>
      your blogs:
      <br/>
      {% if not blogs %}
        there aren't any blogs yet!<br/>
      {% else %}
        {% for blog in blogs %}
          <a href="/blog/{{blog.name}}">{{blog.name}}</a> by <b>{{blog.author_name}}</b>
          <hr/>
        {% endfor %}
        {% if blogs_page_number > 1 %}
          <a href="?bpage={{blogs_page_number - 1}}&opage={{other_blogs_page_number}}">view newer blogs</a>
        {% endif %}
        {% if blogs_more_blogs %}
          <a href="?bpage={{blogs_page_number + 1}}&opage={{other_blogs_page_number}}">view older blogs</a>
        {% endif %}
      {% endif %}
      <br/>
      other blogs:
      <br/>
      {% if not other_blogs %}
        there aren't any blogs yet!<br/>
      {% else %}
        {% for other_blog in other_blogs %}
          <a href="/blog/{{other_blog.name}}">{{other_blog.name}}</a> by <b>{{other_blog.author_name}}</b>
          <hr/>
        {% endfor %}
        {% if other_blogs_page_number > 1 %}
          <a href="?bpage={{blogs_page_number}}&opage={{other_blogs_page_number - 1}}">view newer blogs</a>
        {% endif %}
        {% if other_blogs_more_blogs %}
          <a href="?bpage={{blogs_page_number}}&opage={{other_blogs_page_number + 1}}">view older blogs</a>
        {% endif %}
      {% endif %}

    {% endif %}
  </body>
</html>
{% endautoescape %}