{% include "/templates/header.html" %}
{% autoescape true %}
  <div id="content">
    <span class="warning">
      articles matching <span class="big">"{{tag_name}}"</span> tag
    </span>
    <div id="articles">
      {% if page_number > 1 %}
        <a class="npages" href="?page={{page_number - 1}}">view newer posts</a>
      {% endif %}
      {% if more_articles %}
        <a class="opages" href="?page={{page_number + 1}}">view older posts</a>
      {% endif %}
      <br/>
      <hr/>
      {% for article in articles %}
        <span class="subtext">{{article.date.strftime('%H:%m on %m-%d-%Y')}}</span>
        <h3 class="small-margin">{{article.title}}</h3>
          {{article.abbreviated_content|safe}}
        <br/>
        <a class="float-right" href="/blog/{{article.blog_name}}/article/{{article.title}}">View Full Article</a>
        <br/>
        <hr/>
      {% endfor %}
    </div>
  </div>
{% endautoescape %}
{% include "/templates/footer.html" %}